{{ $link := .Get "link" }}
{{ $source := .Get "source" | default "blog" }}
{{ $medium := .Get "medium" | default "referrer" }}
{{ $campaign := .Get "campaign" }}
{{ $content := .Get "content" }}
{{ $text := .Get "text" | default "Visit Website" }}
{{ $title := .Page.Title }}

{{ $separator := "?" }}
{{ if in $link "?" }}
{{ $separator = "&" }}
{{ end }}

{{ $finalLink := printf "%s%sutm_source=%s&utm_medium=%s&utm_campaign=%s&utm_content=%s" $link $separator $source
$medium $campaign $content }}

<a href="{{ $finalLink }}" target="_blank" class="referrer-link-trigger" data-link="{{ $finalLink }}"
    data-title="{{ $title }}" onclick="trackReferrerClick(this)"
    style="text-decoration: underline; color: #1a73e8; cursor: pointer;">
    {{ $text }}
</a>

<script>
    if (typeof trackReferrerClick === 'undefined') {
        window.trackReferrerClick = function (element) {
            var link = element.getAttribute('data-link');
            var title = element.getAttribute('data-title');

            if (window.dataLayer) {
                window.dataLayer.push({
                    'event': 'referrer_click',
                    'referrer_link': link,
                    'article_title': title
                });
                console.log('DataLayer pushed: referrer_click', { link: link, title: title });
            }
        }
    }
</script>